{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
    <h2>Make your deposit with this data here:</h2>

  <!-- Page Content -->
  <div class="container">
    {{ bw }} and add some more stuff here!
      Please make a deposit for {{ bw.amount }} to the acount:
        {{ bw.iban }}, using the Reference: {{ bw.wire_reference }} - It's important, don't forget it and don't make typos.
        That could delay the payment.
        <br>
        BIC: {{ bw.bic }}

  </div>

{% endblock %}
