{% extends "base.html" %}

{% block title %}Your new goal starts here{% endblock %}

{% block content %}
    <h2>Create your savings goal here:</h2>

  <!-- Page Content -->
  <div class="container">

    <form action="." method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        To start monthly topups... do what?? Add a number of periods, and an amount to be saved in each of these periods.
        <input type="submit" value="Create">
    </form>
  </div>

{% endblock %}

{% block extra_content %}{% endblock %}