{% extends "base.html" %}

{% block title %}Your goal{% endblock %}

{% block content %}

  <!-- Page Content -->
  <div class="container">
    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        {% if goal.image %}
          <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ goal.image.url }}" alt="">
        {% else %}
          Edit your goal to add an image or a video.
        {% endif %}
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h2 class="font-weight-light">{{ goal.title }}</h2>
        <p>
          So far achieved  {{ goal.achieved }}/{{ goal.goal }}<br>
            {{ goal.description }}
        </p>
        <p>
            Ultima actualizacion: {{ goal.updated }}
            <a href="{% url 'goalsaveupdate' id goal.id %}" class="btn btn-primary btn-sm">AQUI</a>
        </p>
      </div>
<!--       /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Add to from account</h2>
            <p class="card-text">
              You have {{ goal.account.balance }} {{ goal.account.currency }} on your account. You can lock in an amount from it.
              <form method="post" action="save/">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" value="Lock in!">
              </form>
            </p>
          </div>
          <div class="card-footer">
            You can add an amount from what you have in the account, additionally to your monthly topups
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Monthly topups</h2>
            <p class="card-text">
              {% if goal.monthly %}
                Automated monthly transfer amount: {{ goal.monthly }}<br><br>
                {% for m in monthlies %}
                  {{ m }} <br>
                {% endfor %}
              {% else %}
                No monthly topups have been activated, edit your goal for activation options.
              {% endif %}
            </p>
          </div>
          <div class="card-footer">
            <a href="{% url 'pupdate' goal.account.id goal.id %}" class="btn btn-primary btn-sm">Update monthly savings</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">Payout or abort</h2>
            <p class="card-text">On payout date, on abort, when completed. What happpens...</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">Execute</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->

<!--    </div>-->
<!--    &lt;!&ndash; /.row &ndash;&gt;-->

<!--    &lt;!&ndash; Copy call to Action Well for transactions &ndash;&gt;-->
<!--    <div class="card my-5 py-4">-->
<!--      <div class="card-body">-->
<!--          <p class="m-0"><h2>Transactions</h2>-->
<!--          Here goes a list of all the transactions this account has seen. First as objects, then as API input...-->
<!--          <table>-->
<!--            {% for t in transactions %}-->
<!--                <tr>-->
<!--                  <td>{{ t.created }}</td><td>{{ t.description }}</td><td>{{ t.amount }}</td>-->
<!--                </tr>-->
<!--            {% empty %}-->
<!--              No transactions done yet.-->
<!--            {% endfor %}-->
<!--          </table>-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->

  </div>
<!--  &lt;!&ndash; /.container &ndash;&gt;-->

{% endblock %}
{% block extra_content %}{% endblock %}