<bold>IMPORTANT</bold>
<ul>
    <li>I need a way to top up accounts! so that others can payin for diff purposes</li>
    <li>Links and transfers need to go in 2 ways</li>
    <li>Make a crowdfunding app. Very similar to patreon but not 100%</li>
    <li>Make a loans app</li>
</ul>



Links:
<ul>
    <li>in PAID, give option to download confirmation into a PDF and email.</li>
    <li>add link shortener</li>
    <li>link lists make pretty</li>
    <li>links with no sec code?</li>
    <li>Add limits to teh number of elements that a link/goal can have. Or charge if expanding</li>

</ul>

Goals:
<ul>
    <li>check duration field and how to make it a sort of counter or check times</li>
    <li>add more to the detail page, like how you're doing</li>
    <li>make sure funds in goals are blocked from being spent</li>
    <li>check to have a minimal value in the goal field modelform</li>
    <li>add CKEditor</li>
    <li>check the error in the redirect from goal views !?! Dafuq! this pahhepns on 2 parts!!</li>

</ul>


Saver:
<ul>
    <li>Think about how to expand the Saver model with more data</li>
    <li>Well integrated with the other apps and views</li>
    <li>Make all the Views!</li>
</ul>

MANGOPAY:
<lu>
    <li>We'll try first with a 1on1 user to saver, then 1on1 saver to mUser</li>
    <li>No proxy models, no other stuff, plain old model inheritance</li>
    <li>Test some more stuff</li>
</lu>


Others:
<ul>
    <li>ON THE LOGIN PAGE, THERE IS NO FIELD TO PUT THE EMAIL IN!!!</li>
    <li>LOGIN_REDERECT_URL in settings needs to change to landing page  </li>
    <li>Add more transaction items when stuff happens! This is a good log</li>
    <li>Add user verification!!</li>
    <li>add a notifications part</li>
    <li>make Transaction creating and listing better</li>
    <li>add login checks!! </li>
    <li>add social login</li>
    <li>start adding mgp</li>
    <li>add verification processes and stuff</li>
    <li>check dj-stripe</li>
</ul>

Other cases:
<ul>
    <li>So then, look to integrate flows to handle more complex cases? </li>
    <li>add some stuff form Fuck off as a service?</li>
</ul>